.App {
  text-align: center;
  width: 100%;
}
.InputsContainer {
  width: 300px;
  align-content: center;
  margin: 10px;
  display: inline-block;
}

.Input{
  margin: 6px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.DatepickerContainer {
  margin-bottom: 10px;
}

.buttonContainer {
  margin-bottom: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
